.box {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
  width: 300px;
  margin-bottom: 20px;
}
.box div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: lightslategray;
  font-size: 48px;
}